<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.publiclab.spectralworkbench"
        version   = "0.2">
    <name>Pxlshp</name>

    <description>
        A minimal icon-authoring app on the web stack.
    </description>

    <author href="http://pxlshp.com" email="jeff@unterbahn.com">
        Pxlshp
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />
    <preference name="prerendered-icon"    value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />

    <icon src="img/mnls-256.png" />
    <icon src="img/mnls-36.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="img/mnls-48.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="img/mnls-72.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="img/mnls-96.png"   gap:platform="android"    gap:density="xhdpi" />
    <icon src="img/mnls-57.png"   gap:platform="ios"        width="57" height="57" />
    <icon src="img/mnls-72.png"   gap:platform="ios"        width="72" height="72" />
    <icon src="img/mnls-114.png"  gap:platform="ios"        width="114" height="114" />
    <icon src="img/mnls-144.png"  gap:platform="ios"        width="144" height="144" />

    <gap:splash src="img/splash-1024x768.png"  gap:platform="android" />
    <gap:splash src="img/splash-1024x768.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="img/splash-320x480.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="img/splash-320x480.png"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="img/splash-640x960.png" gap:platform="ios"     width="640" height="960" />
    <gap:splash src="img/splash-768x1024.png"      gap:platform="ios"     width="768" height="1024" />

</widget>
